*{	
	font-family:sans-serif, monospace;
	margin:0;
	padding:0;
}

table, tr, td {
    border: 1px inset black;
    border-collapse: collapse;
    border-spacing: 0;
}

button,input{
	padding: clamp(0.5em ,0.5%, 4em);
	border-radius:1em;
	border:none;
	width: clamp(7rem,calc(30vw + 0.1rem),21rem);
}

button{
	width: clamp(6rem,calc(7vw + 0.1rem),10rem) !important;
}


p, h1{
	color:white;
}

.title{
	color:lime;
}

body{
	background-image: linear-gradient(to left, black, rgb(109, 106, 106));
	background-size:cover;
	background-repeat:no-repeat;
	min-height: 100vh;
	min-height: 100dvh;
	margin: 0;
}

h1{
	margin: clamp(1rem, calc(1vw + 0.1rem), 3rem);
	font-size: clamp(1rem, calc(1.75vw + 0.5rem) ,10rem);
}

nav{
	height: clamp(4rem, calc(5vw + 1rem), 8rem);
	display:flex;
	align-items:center;
	background-color:black;
}

nav a{
	margin-left: clamp(1rem, calc(3vw + 0.1rem), 5rem);
	text-decoration:none;
	color:white;
	font-size: clamp(1rem, calc(1.5vw + 0.1rem), 8rem);
	transition: 0.3s;
}

nav a:hover{
	background-color:white;
	color:black;
	border-radius: 10%;
}

.box{
	display:block;
	margin-top: clamp(3rem, calc(5vw + 0.1rem), 8rem);
	text-align:center;
}

.box div{
	margin: clamp(2.8rem, calc(4vw + 0.1rem), 7rem);
}

.flex_box{
	display:flex;
	justify-content:center;
}

table{
	background-color:rgb(143, 143, 143);
	border: solid black;
	color:white;
}

table td{
	padding: clamp(0.8em, calc(2vw + 0.1em), 3em);
}


